@font-face {
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 100;
    src: url('./fonts/Calibre-Thin.woff2') format('woff2');

}

@font-face {
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/Calibre-Light.woff2') format('woff2');

}

@font-face {
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Calibre-Regular.woff2') format('woff2');

}

@font-face {
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/Calibre-Medium.woff2') format('woff2');

}

@font-face {
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/Calibre-Semibold.woff2') format('woff2');

}

* {
    margin: 0;
    padding: 0;
    font-family:  Roboto, sans-serif;
    box-sizing: border-box;
}

.community-links ul {
    display: none;
}

.community-links ul:hover {
    display: flex;
}

nav {
    padding: 10px 40px;
    background: #fafafa;
}

.logo {
    width: 50px;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
}

nav ul div.nav-links {
    display: flex;
    font-size: 15px;
    font-weight: 700;
}


nav ul div.nav-links a {
    text-decoration: none;
    padding: 0 12px;
    color: black;
    font-weight: 500;
    letter-spacing: 0.5px;
    display: inline-block;
}

.items {
    display: flex;
    align-items: center;
}

nav ul div.items li.search-icon { 
    padding: 0 22px;
}

nav ul div.items a {
    color: black;
    text-decoration: none;
    font-weight: 200;
    font-size: 15px;
    border-right: solid 0.5px gray;
    padding-right: 22px;
}


.hover-line::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #d43e34;
    transition: width .4s ease-in-out;
}

.hover-line:hover::after {
    width: 28px;
    display: block;
}


.sign-in::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #d43e34;
    transition: width .4s ease-in-out;
}

.sign-in:hover::after {
    width: 46px;
    display: block;
}